input.login_email {width: 94px; font-size: 11px;}
input.login_password {width: 94px; height: 14px; font-size: 11px;}
input.submit {padding: 1px; font-size: 11px;}

input.eupdates_email {width: 138px; font-size: 11px;}
select.eupdates_region {margin-right: 0px; width: 144px; font-size: 11px;}

td.login_b_remeber {padding: 1px 0px 0px 0px;}
td.login_b_submit {padding: 1px 0px 0px 0px; text-align: right;}

td.eupdates_a_two {padding: 2px 0px 0px 0px;}
td.eupdates_a_region {padding: 2px 0px 0px 0px; text-align: right;}

td.eupdates_a_submit {padding: 2px 0px 0px 0px; text-align: right;}
td.eupdates_a_three {padding: 2px 0px 0px 0px;}

/* IE6-9 doesn't support flexbox - use inline-block fallback */
.home-columns-wrapper {
    display: block;
}

.home-column {
    display: inline-block;
    vertical-align: top;
}

.cbox-content {
    min-height: 400px !important;
    height: auto !important;
}