input.login_email {width: 105px; font-size: 11px; margin-bottom: 3px; border: 1px solid #777;}
input.login_password {width: 105px; height: 13px; font-size: 11px; border: 1px solid #777;}
input.submit {margin: 0px; padding: 1px; font-size: 11px;}

input.eupdates_email {width: 148px; height: 20px; font-size: 11px; border: 1px solid #C6C47B;}
select.eupdates_region {margin-right: 0px; width: 146px; height: 18px; font-size: 11px; border: 1px solid #C6C47B;}

td.login_b_remeber {padding: 4px 0px 0px 0px;}
td.login_b_submit {padding: 4px 0px 0px 0px; text-align: right;}

td.eupdates_a_two {padding: 3px 0px 0px 0px;}
td.eupdates_a_region {padding: 3px 0px 0px 0px; text-align: right;}

td.eupdates_a_submit {padding: 2px 0px 0px 0px; text-align: right;}
td.eupdates_a_three {padding: 2px 0px 0px 0px;}