name: Deploy to Pair Networks

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v3

    - name: Deploy via SFTP to Pair Networks
      uses: wlixcc/SFTP-Deploy-Action@v1.2
      with:
        server: ${{ secrets.SFTP_HOST }}
        username: ${{ secrets.SFTP_USER }}
        password: ${{ secrets.SFTP_PASSWORD }}
        remote_path: "/usr/home/reidgrec/public_html"
        local_path: "./"
        delete_remote_files: false
